
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-link">Cerrar Sesión</button>
</form>