@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="~/image/logouni.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>PROYECTO DE MATERIA DE SIS-457.</h3>
                <p class="font-italic">
                    PAGINA WEB DE UN RESTAURANT RINCON DEL PROFE

                </p>
                <p class="font-italic">
                    INTEGRANTES:

                </p>
                <ul>
                    <li><i class="icofont-check-circled"></i> CARVAJAL SANABRIA  FABIOLA KATERIN</li>
                    <li><i class="icofont-check-circled"></i> ESQUIVEL VICTORIA</li>
                </ul>
                <p>
                    SUCRE-BOLIVIA
                    2021
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!--
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>MENU</h2>
            <p>CATEGORIA</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">TODO</li>
                    <li data-filter=".filter-starters">PLATOS TRADICIONALES</li>
                    <li data-filter=".filter-salads">PLATOS FRITURAS</li>
                    <li data-filter=".filter-specialty">BEBIDAS</li>
                </ul>
            </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/image/menu/ajipalomita.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">AJI DE PALOMITA</a><span>5 Bs</span>
                </div>
                <div class="menu-ingredients">
                    ingredientes: trigo, aji, papa, cuero de chanco, y condimentos
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/image/menu/linaza.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">REFRESCO DE LIZA</a><span> 2 Bs</span>
                </div>
                <div class="menu-ingredients">
                    ingredientes: azucar, agua, linaza, etc.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/image/menu/choriso-chuquisaqueño.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">CHORIZO CHUQUISAQUEÑO</a><span>15 bs</span>
                </div>
                <div class="menu-ingredients">
                    ofrece chorizo con pan o con arroz
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/image/menu/pollocanasta.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">POLLO A LA CANASTA</a><span>13 bs</span>
                </div>
                <div class="menu-ingredients">
                    tambien ofrece pollo broaster, spiedo.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/image/menu/mocochi.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">REFRESCO DE MOCOCHINCHI</a><span>2 bs</span>
                </div>
                <div class="menu-ingredients">
                    ingredientes: azucar, agua, canela, durazco
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/image/menu/pizas.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">MONDONDGO</a><span>15 Bs</span>
                </div>
                <div class="menu-ingredients">
                    es plato tradicional de bolivia
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/image/menu/pizas.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">PIZA</a><span>10 bs</span>
                </div>
                <div class="menu-ingredients">
                    pizas de peperoni, choclo, honguitos.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/image/menu/descarga.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">HAMBUERGUESA</a><span>5 bs</span>
                </div>
                <div class="menu-ingredients">
                    hambuerguesas de huevo, carne, pollo
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/image/menu/chicha.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">CHICHA</a><span>5 Bs</span>
                </div>
                <div class="menu-ingredients">
                    chica de maiz, mani, amaranto, quinua
                </div>
            </div>

        </div>

    </div>
</section><!-- End Menu Section -->
<!-- ======= Events Section ======= -->
<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>EVENTOS</h2>
            <p>
                Organice sus eventos en nuestro restaurante
            </p>
        </div>

        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="~/image/event-birthday.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>
                        Fiestas de cumpleaños
                    </h3>
                    <div class="price">
                        <p><span>100 bs</span></p>
                    </div>
                    <p class="font-italic">
                        el evento se reserva en personalmente
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes tipos de bebida.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos tradicionales.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos especiales para cumpleaños</li>
                    </ul>
                    <p>
                        Para poder hacer el evento contactarse con los numeros
                        72656458
                        64-25631
                    </p>
                </div>
            </div>

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="~/image/event-private.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Fiestas Privadas</h3>
                    <div class="price">
                        <p><span>290 bs</span></p>
                    </div>
                    <p class="font-italic">
                        el restaurant rincon del profe ofrece
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes tipos de bebida.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos tradicionales.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos especiales para cumpleaños</li>
                    </ul>
                    <p>
                        Para poder hacer el evento contactarse con los numeros
                        72656458
                        64-25631
                    </p>
                </div>
            </div>

            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="~/image/event-custom.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>
                        Fiestas personalizadas
                    </h3>
                    <div class="price">
                        <p><span>150 bs</span></p>
                    </div>
                    <p class="font-italic">
                        para hacer la fiesta personaliza puede pedir lo que sea necesario
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes tipos de bebida.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos tradicionales.</li>
                        <li><i class="icofont-check-circled"></i> Ofrece diferentes platos especiales para fiesta personlizada</li>
                    </ul>
                    <p>
                        Para poder hacer el evento contactarse con los numeros
                        72656458
                        64-25631
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Events Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>GALERIA DE FOTOS</h2>
            <p>Algunas fotos de Nuestro Restaurante</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/image/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                        <img src="~/image/gallery/gallery-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Gallery Section -->
<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>COCINEROS</h2>
            <p>Cocineros del restaurante</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="~/image/chefs/chefs-1.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Walter Quispe</h4>
                            <span>Master Chef</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/image/chefs/chefs-2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Sarah Jhonson</h4>
                            <span>Patissier</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="~/image/chefs/chefs-3.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William Mamani</h4>
                            <span>Cook</span>
                        </div>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Chefs Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contactos</h2>
            <p>Contactate con nosotros</p>
        </div>
    </div>

    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Ubicacion:</h4>
                        <p>San juanillo Nº10</p>
                    </div>

                    <div class="open-hours">
                        <i class="icofont-clock-time icofont-rotate-90"></i>
                        <h4>
                            Horarios de apertura:
                        </h4>
                        <p>
                            Lunes a sabado:<br>
                            11:00 AM - 23:00 PM
                        </p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>esquivelvicoria97@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Celular:</h4>
                        <p>72859356</p>
                    </div>

                </div>

            </div>

           

        </div>

    </div>
</section><!-- End Contact Section -->
